<%= form_for(resource, as: resource_name, url: register_path) do |form| %>
  <% flash.each do |name, msg| %>
      <% if msg.class == Array %>
        <% msg.each do |message| %>
          <%= content_tag :div, message, id: "flash_#{name}" %>
        <% end %>
      <% else %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    <% end %>

  <div class="form_item">
    <%= form.text_field :first_name, placeholder: "First Name*" %>
  </div>

  <div class="form_item">
    <%= form.text_field :last_name, placeholder: "Last Name*" %>
  </div>

  <div class="form_item">
    <%= form.date_field :birth_date, title: "Date of birth" %>
  </div>

  <div class="form_item">
    <%= form.email_field :email, placeholder: "Email*" %>
  </div>

  <div class="form_item">
    <%= form.password_field :password, placeholder: "Password*" %>
  </div>

  <div class="form_item">
    <%= form.submit "ЗАРЕЄСТРУВАТИСЬ", class: "btn"%>
  </div>
<% end %>
