<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.first_name %>
    <br/>
    <strong>Surname:</strong>
    <%= user.last_name %>
    <br/>
    <strong>Email:</strong>
    <%= user.email %>
    <br/>
    <strong>Password:</strong>
    <%= user.password %>
    <br/>
    <strong>Date of birth:</strong>
    <%= user.birth_date %>
  </p>
</div>
