

<div class="wrapper">
    <div class="default-container profile-data-container flex-row">
        <div class="flex-row">
            <h2 class="text-gray">Ім'я Фамілія:&nbsp</h2>
            <h2><%= @user.full_name %></h2>
        </div>

        <div class="flex-row">
            <h2 class="text-gray">Email:&nbsp</h2>
            <h2><%= @user.email %></h2>
        </div>

        <div class="flex-row">
            <h2 class="text-gray">Дата народження:&nbsp</h2>
            <h2><%= @user.birth_date %></h2>
        </div>

        <a class="btn" href="/update">ВІДРЕДАГУВАТИ</a>
    </div>
    
    <h1 class="rental-info-list-title">Орендовані автомобілі:</h1>

    <div class="default-container" style="margin-top: 50px">
        <div class="rental-info-card flex-row">
            <div class="rental-info-card-img"> 
                <%= image_tag "car_images/volkswagen_touared.png" %>
            </div>

            <div class="rental-info">
                <div class="rental-info-car-name">
                    <h2>Volkswagen Touareg 2022</h2>
                </div>

                 <div class="rental-info-car-info flex-row">
                    <div class="flex-row">
                        <h4>Двигун:&nbsp</h4>
                        <p class="text-gray">1.6л (бензин)</p>
                    </div>

                    <div class="flex-row">
                        <h4>Витрати пального:&nbsp</h4>
                        <p class="text-gray">7л/100км</p>
                    </div>

                    <div class="flex-row">
                        <h4>Коробка:&nbsp</h4>
                        <p class="text-gray">автомат</p>
                    </div>

                     
                 </div>

                <div class="rental-info-car-info flex-row">
                    <div class="flex-row">
                        <h4>Ціна за добу:&nbsp</h4>
                        <p class="text-gray">17$</p>
                    </div>
                    
                    <div class="flex-row">
                        <h4>Всього днів:&nbsp</h4>
                        <p class="text-gray">2</p>
                    </div>

                    <div class="flex-row">
                        <h4>Остаточна ціна:&nbsp</h4>
                        <p class="text-gray">34$</p>
                    </div>
                 </div>

                <div class="rental-info-time flex-row">
                    <div class="flex-row">
                        <p>Орендовано:</p>
                         <p>date time</p>
                    </div>

                    <div class="flex-row">
                        <p>Повернути:</p>
                         <p>date time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="default-container" style="margin-top: 50px">
        <div class="rental-info-card flex-row">
            <div class="rental-info-card-img"> 
                <%= image_tag "car_images/volkswagen_touared.png" %>
            </div>

            <div class="rental-info">
                <div class="rental-info-car-name">
                    <h2>Volkswagen Touareg 2022</h2>
                </div>

                 <div class="rental-info-car-info flex-row">
                    <div class="flex-row">
                        <h4>Двигун:&nbsp</h4>
                        <p class="text-gray">1.6л (бензин)</p>
                    </div>

                    <div class="flex-row">
                        <h4>Витрати пального:&nbsp</h4>
                        <p class="text-gray">7л/100км</p>
                    </div>

                    <div class="flex-row">
                        <h4>Коробка:&nbsp</h4>
                        <p class="text-gray">автомат</p>
                    </div>

                     
                 </div>

                <div class="rental-info-car-info flex-row">
                    <div class="flex-row">
                        <h4>Ціна за добу:&nbsp</h4>
                        <p class="text-gray">17$</p>
                    </div>
                    
                    <div class="flex-row">
                        <h4>Всього днів:&nbsp</h4>
                        <p class="text-gray">2</p>
                    </div>

                    <div class="flex-row">
                        <h4>Остаточна ціна:&nbsp</h4>
                        <p class="text-gray">34$</p>
                    </div>
                 </div>

                <div class="rental-info-time flex-row">
                    <div class="flex-row">
                        <p>Орендовано:</p>
                         <p>date time</p>
                    </div>

                    <div class="flex-row">
                        <p>Повернути:</p>
                         <p>date time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>