<div class="wrapper">
    <div class="car-container">
        <div class="car-card">
            <div class="car-info-block flex-row">
                <div class="align-left"> 
                    <h2 class="car-name">Volkswagen Touareg 2022</h2>
                    <p class="text-gray">Автомат, 1.6</p>
                </div>
                
                <div class="align-right flex-row"> 
                    <h2 style="margin-right: 10px">17$</h2>
                    <p class="text-gray" style="margin-top: 5px">/ за добу прокату</p>
                </div>
            </div>

            <div class="car-ditails-block">
                <div class="car-img-block"> 
                        <%= image_tag "car_images/volkswagen_touared.png" %>
                </div>

                <div class="car-addition-info">
                    <div class="flex-row card-item">
                            <h4>Двигун:</h4>
                            <p class="text-gray">1.6л (бензин)</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Витрати пального:</h4>
                             <p class="text-gray">7л/100км</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Коробка:</h4>
                            <p class="text-gray">автомат</p>
                    </div>
                    <hr>
                    <div class="card-btn">
                        <button class="btn">
                            <h3>ЗАБРОНЮВАТИ АВТО</h3>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="car-card">
            <div class="car-info-block flex-row">
                <div class="align-left"> 
                    <h2 class="car-name">Volkswagen Touareg 2022</h2>
                    <p class="text-gray">Автомат, 1.6</p>
                </div>
                
                <div class="align-right flex-row"> 
                    <h2 style="margin-right: 10px">17$</h2>
                    <p class="text-gray" style="margin-top: 5px">/ за добу прокату</p>
                </div>
            </div>

            <div class="car-ditails-block">
                <div class="car-img-block"> 
                        <%= image_tag "car_images/volkswagen_touared.png" %>
                </div>

                <div class="car-addition-info">
                    <div class="flex-row card-item">
                            <h4>Двигун:</h4>
                            <p class="text-gray">1.6л (бензин)</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Витрати пального:</h4>
                             <p class="text-gray">7л/100км</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Коробка:</h4>
                            <p class="text-gray">автомат</p>
                    </div>
                    <hr>
                    <div class="card-btn">
                        <button class="btn">
                            <h3>ЗАБРОНЮВАТИ АВТО</h3>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="car-card">
            <div class="car-info-block flex-row">
                <div class="align-left"> 
                    <h2 class="car-name">Volkswagen Touareg 2022</h2>
                    <p class="text-gray">Автомат, 1.6</p>
                </div>
                
                <div class="align-right flex-row"> 
                    <h2 style="margin-right: 10px">17$</h2>
                    <p class="text-gray" style="margin-top: 5px">/ за добу прокату</p>
                </div>
            </div>

            <div class="car-ditails-block">
                <div class="car-img-block"> 
                        <%= image_tag "car_images/volkswagen_touared.png" %>
                </div>

                <div class="car-addition-info">
                    <div class="flex-row card-item">
                            <h4>Двигун:</h4>
                            <p class="text-gray">1.6л (бензин)</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Витрати пального:</h4>
                             <p class="text-gray">7л/100км</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Коробка:</h4>
                            <p class="text-gray">автомат</p>
                    </div>
                    <hr>
                    <div class="card-btn">
                        <button class="btn">
                            <h3>ЗАБРОНЮВАТИ АВТО</h3>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="car-card">
            <div class="car-info-block flex-row">
                <div class="align-left"> 
                    <h2 class="car-name">Volkswagen Touareg 2022</h2>
                    <p class="text-gray">Автомат, 1.6</p>
                </div>
                
                <div class="align-right flex-row"> 
                    <h2 style="margin-right: 10px">17$</h2>
                    <p class="text-gray" style="margin-top: 5px">/ за добу прокату</p>
                </div>
            </div>

            <div class="car-ditails-block">
                <div class="car-img-block"> 
                        <%= image_tag "car_images/volkswagen_touared.png" %>
                </div>

                <div class="car-addition-info">
                    <div class="flex-row card-item">
                            <h4>Двигун:</h4>
                            <p class="text-gray">1.6л (бензин)</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Витрати пального:</h4>
                             <p class="text-gray">7л/100км</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Коробка:</h4>
                            <p class="text-gray">автомат</p>
                    </div>
                    <hr>
                    <div class="card-btn">
                        <button class="btn">
                            <h3>ЗАБРОНЮВАТИ АВТО</h3>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="car-card">
            <div class="car-info-block flex-row">
                <div class="align-left"> 
                    <h2 class="car-name">Volkswagen Touareg 2022</h2>
                    <p class="text-gray">Автомат, 1.6</p>
                </div>
                
                <div class="align-right flex-row"> 
                    <h2 style="margin-right: 10px">17$</h2>
                    <p class="text-gray" style="margin-top: 5px">/ за добу прокату</p>
                </div>
            </div>

            <div class="car-ditails-block">
                <div class="car-img-block"> 
                        <%= image_tag "car_images/volkswagen_touared.png" %>
                </div>

                <div class="car-addition-info">
                    <div class="flex-row card-item">
                            <h4>Двигун:</h4>
                            <p class="text-gray">1.6л (бензин)</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Витрати пального:</h4>
                             <p class="text-gray">7л/100км</p>
                    </div>
                    <hr>
                    <div class="flex-row card-item">
                            <h4>Коробка:</h4>
                            <p class="text-gray">автомат</p>
                    </div>
                    <hr>
                    <div class="card-btn">
                        <button class="btn">
                            <h3>ЗАБРОНЮВАТИ АВТО</h3>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>