<%= form_with(model: rental, url: create_rental_path) do |form| %>
  <% if rental.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>
      <ul>
        <% rental.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form class="rent-car-form">
    <%= form.hidden_field :car_id, value: @car.id %>
    <%= form.hidden_field :user_id, value: @user.id %>
    <div class="car-form-item rent-car-form-car-info flex-row">
      <h2> <%= rental.car.brand %> <%= rental.car.model %> </h2>
      <h2> <%= rental.car.daily_price %>$</h2>
    </div>

    <p>
      Дата та час оренди:
    </p>

    <div class="car-form-item rent-car-form-time flex-row">
      <%= form.datetime_local_field :date_from, id: "start-datetime" %>
    </div>

    <p>
      Дата та час повернення автомобіля:
    </p>

    <div class="car-form-item rent-car-form-time flex-row">
      <%= form.datetime_local_field :date_to, id: "end-datetime" %>
    </div>

    <h2 class="car-form-item" style="text-align:center">Остаточна Ціна</h2>

    <div class="car-form-item">
      <div class="flex-row">
        <h4>Ціна за добу:&nbsp</h4>
        <p class="text-gray"><%= rental.car.daily_price %>$</p>
      </div>

      <div class="flex-row">
        <h4>Всього днів:&nbsp</h4>
        <p class="text-gray" id="total-days"></p>
      </div>

      <div class="flex-row">
        <h4>Остаточна ціна:&nbsp</h4>
        <p class="text-gray" id="total-price"></p>
      </div>
    </div>

    <button type="submit" class="btn">
      <h3>ЗАБРОНЮВАТИ АВТО</h3>
    </button>
  </form>

<% end %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var startDatetimeInput = document.getElementById("start-datetime");
        var endDatetimeInput = document.getElementById("end-datetime");
        var totalDaysElement = document.getElementById("total-days");
        var totalPriceElement = document.getElementById("total-price");
        var dailyPrice = <%= rental.car.daily_price %>;

        // Add event listeners to the datetime inputs
        startDatetimeInput.addEventListener("input", calculateTotal);
        endDatetimeInput.addEventListener("input", calculateTotal);

        function calculateTotal() {
            var startDatetime = new Date(startDatetimeInput.value);
            var endDatetime = new Date(endDatetimeInput.value);

            var timeDiff = Math.abs(endDatetime - startDatetime);
            var diffDays = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));

            var totalPrice = diffDays * dailyPrice;

            totalDaysElement.textContent = diffDays;
            totalPriceElement.textContent = totalPrice + "$";
        }
    });
</script>
