<div id="<%= dom_id rental %>">
  <p>
    <strong>Car:</strong>
    <%= rental.car %> <%= rental.car.brand %>
    <br/>
    <strong>User:</strong>
    <%= rental.user %>
    <br/>
    <strong>Date from:</strong>
    <%= rental.date_from%>
    <br/>
    <strong>Date to:</strong>
    <%= rental.date_to %>
  </p>
</div>
