<%= form_with(model: user, url:sign_up_path) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_item">
      <%= form.text_field :first_name, placeholder: "First Name*" %>
  </div>

  <div class="form_item">
      <%= form.text_field :last_name, placeholder: "Last Name*" %>
  </div>

  <div class="form_item">
      <%= form.date_field :birth_date, title: "Date of birth" %>
  </div>

  <div class="form_item">
      <%= form.text_field :email, placeholder: "Email*" %>
  </div>

  <div class="form_item">
      <%= form.password_field :password, placeholder: "Password*" %>
  </div>

  <div class="form_item">
      <%= form.submit "ЗБЕРЕГТИ", class: "btn"%>
  </div>
<% end %>
