<div id="<%= dom_id car %>">
  <p>
    <strong>Brand:</strong>
    <%= car.brand %>
    <br/>
    <strong>Model:</strong>
    <%= car.model %>
    <br/>
    <strong>Engine capacity:</strong>
    <%= car.engine_capacity %>
    <br/>
    <strong>Type of fuel:</strong>
    <%= car.fuel_type %>
    <br/>
    <strong>Daily price:</strong>
    <%= car.daily_price %>
    <br/>
    <strong>Fuel consumption:</strong>
    <%= car.fuel_consumption %>
    <br/>
    <strong>Image route:</strong>
    <%= car.img %>
  </p>
</div>
