<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :brand %>
    <%= form.text_field :brand %>
    <br>
    <%= form.label :model %>
    <%= form.text_field :model %>
    <br>
    <%= form.label :engine_capacity %>
    <%= form.text_field :engine_capacity %>
    <br>
    <%= form.label :fuel_type %>
    <%= form.text_field :fuel_type %>
    <br>
    <%= form.label :daily_price %>
    <%= form.text_field :daily_price %>
    <br>
    <%= form.label :fuel_consumption %>
    <%= form.text_field :fuel_consumption %>
    <br>
    <%= form.label :img %>
    <%= form.text_field :img %>
  </div>

  <div>
    <%= form.submit 'Submit car' %>
  </div>
<% end %>
