<!DOCTYPE html>
<html>
  <head>
    <title>Group1SsCarrental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% flash.each do |name, msg| %>
      <% if msg.class == Array %>
        <% msg.each do |message| %>
          <%= content_tag :div, message, id: "flash_#{name}" %>
        <% end %>
      <% else %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
       <%= render partial: "shared/main_navbar"%>
    <% else %>
       <%= render partial: "shared/navbar"%>
    <% end %>

    <%= yield %>
  </body>
</html>
